body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divider{
    width: 100%;
    height: 100vh;
    display: flex;
}
.left_side{
    flex: 1;
    background: url('backgroundimg.jpeg');
    height: 100%;
}
.right_side{
    flex: 1;
    background: white;
    height: 100%;
}
.right-link{
    text-decoration: none;
    list-style: none;
    display: flex;
   
    align-items: center;
    height: 100%;
    font-size: 40px;
    

}
.right-link li{
    padding: 0 20px;
    cursor: pointer;
    color: yellowgreen;
}

.container-fluid {
background-color: #ffffff;
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
padding: 20px;
text-align: center;
}

.form-floating {
width: 50%;
align-items: center;
justify-content: center;
display: flex;
margin-bottom: 15px;
border-radius: 5px;
border: solid 1px #050505;
}

form{
/* padding: 0 0 0 500px; */
text-align: center;
}